@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow: hidden;
}

.container {
    height: 100vh;
    background-image: url("./images/bg-01.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    width: 275px;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pp-container {
    margin: 15px 0;
    background: linear-gradient(to right, #FF0B62, #FF981C);
    width: 105px;
    height: 105px;
    border-radius: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pp {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.line {
    margin-top: 5px;
    width: 60%;
    height: 2px;
    background: linear-gradient(to right, #7E077D, #DA0368);
    border-radius: 20px;
}

.profile {
    z-index: 10;
}

.profile-content {
    margin-top: 20px;
    text-align: center;
    width: 80%;
    color: rgb(94, 94, 94);
}

.behance-github{
    margin-top: 20px;
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.ytu {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.ytu p {
    margin-left: 15px;
}

.content {
    margin-left: 50px;
    width: 40%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 30px;
    z-index: 10;
}

.degree {
    margin-bottom: 20px;
}

.my-skills-icons {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}

.icon-item {
    margin-right: 20px;
    display: flex;
    align-items: center;
    color: #8A0580;
}

i {
    margin: 10px 0;
    color: #8A0580;
    transition: 0.5s ease;
}

.fa-html5:hover {
    color: #E96228;
}

.fa-css3-alt:hover {
    color: #1C84C1;
}

.fa-js:hover {
    color: #EFD81D;
}

.fa-react:hover {
    color: #53C1DE;
}

.fa-node-js:hover {
    color: #509941;
}

.fa-php:hover {
    color: #787CB4;
}

.icon-exp {
    margin-left: 10px;
}

.my-jobs{
    display: flex;
    flex-wrap: wrap;
}

.my-jobs-header{
    margin-top: 30px;
}

.my-jobs a{
    padding: 20px;
    background-color: rgb(231, 231, 231);
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
}

.my-jobs a p{
    color: #7E077D;
}

.social-media{
    padding: 20px;
    background-color: rgb(231, 231, 231);
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
}

.social-media a{
    margin: 0;
    padding: 0;
}

.social-media a button{
    background-color: #7E077D;
    color: white;
    border: none;
    padding: 4px 8px;
    margin: 5px;
    cursor: pointer;
}

.book-shop{
    padding: 20px;
    background-color: rgb(231, 231, 231);
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
}

.book-shop a{
    margin: 0;
    padding: 0;
}

.book-shop a button{
    background-color: #7E077D;
    color: white;
    border: none;
    padding: 4px 8px;
    margin: 5px;
    cursor: pointer;
}

.circle {
    position: absolute;
    top: 20px;
    left: 30%;
    z-index: 1;
    animation: rotate-s-loader 3s infinite ease;
}

.stick {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    animation: move-stick 100s linear infinite;
}

@keyframes rotate-s-loader {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes move-stick {
    0% {
        bottom: 20px;
        left: 20px;
    }

    100% {
        bottom: 800px;
        left: 800px;
    }
}

@media screen and (max-width: 1100px) {
    body{
        overflow: auto;
    }

    .container {
        flex-direction: column;
        height: 100%;
    }

    .stick{
        display: none;
    }

    .circle{
        display: none;
    }

    .profile{
        margin-top: 50px;
    }

    .content{
        width: 80%;
        margin-left: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}